.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: rgb(240, 203, 203);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#containers{
  padding: 20px 30px;
   width: 450px;
   box-shadow: 2px 1px 1px 2px #1f5664;
   background-color: #1f5664;
   
 }

 .profile{
  margin: 0 auto;
   padding: 40px;
   width: 800px;
   height: 1100px;
   background-color: pink;
   border-radius: 2% 0 0 2%;
   box-shadow: 1px 1px 1px 1px rgb(252, 250, 250);
 }

 .sidebar{
  padding: 30px;
  width: 680px;
  height: 1100px;
  background-color: rgb(245, 244, 244);
  box-shadow: 1px 1px 1px 1px rgb(245, 243, 243);
  border-radius: 0 2% 2% 0;
 }

 /* .outer{
   width: 1000px;
   height: 1200px;
   padding: 30px 40px;
   margin-top: 40px;
   background-color: azure;
   margin: 0 auto;
   box-shadow: 1px 1px 1px 1px rgb(245, 243, 243);
   
 } */
 h6{
   color: gray;
 }

 h5{
   margin-top: 60px;
   color: whitesmoke;
 }

 h4{
   margin-top: 80px;
   color: rgb(189, 124, 124)
 }

 .set-meeting{
   margin-top: 10px;
 }

strong{
  color: grey;
}

 .name{
   margin-top: 30px;
   color: aliceblue;
   
 }

 .comment1{
   width: 300px;
   height: 140px;
   background-color: white;
   margin: 0 auto;
   margin-top: 40px;
   border-radius: 5% 5% 5% 5%;
   
   
 }

 .comment2{
  width: 300px;
  height: 140px;
  background-color: white;
  margin: 0 auto;
  margin-top: 40px;
  border-radius: 5% 5% 5% 5%;
  
}

.container{
  margin-top: 50px;
  margin-bottom: 60px; 
 
}

 img{
   height: 200px;
   width: 200px;
   border-radius: 50%;
   margin-top: 30px;
 }

 .btn{
   margin-top: 10px;
   background-color: grey;
  
 }

 .btn2{
   background-color: palevioletred;
   width: 200px;
   height: 60px;
 }

 hr{
   background-color: rgb(134, 192, 134);
   width: 60%;
   margin-left: auto;
   margin-right: auto;
 }

.form-control-plaintext{
  margin: 0 auto;
   
}

.clock{
  width: 50px;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgb(177, 168, 168);
}

 /* .row3 input{
   display: inline;

 } */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
